body{
	position:relative;
	/*width:1314px;*/
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	padding: 7px;
}
div#container1{
	padding:7px;
	border-style:solid;
	border-width:1px;
	border-color:transparent;
	width:390px;
	height:435px;
	position:relative;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}
div#sticker{
	position:relative;
	width:375px;
	height:260px;
	margin-left:auto;
	margin-right:auto;
	padding-top:20%;

}
div#hellomynameis{
	height:82px;
	font-family:'Cherry Cream Soda';
	text-align:center;
	color:white;
	background-color:#de4e2a;
	border-radius:25px 25px 0px 0px;
}
div#namegoeshere{
	position:relative;
	height:175px;
	margin-left:auto;
	margin-right:auto;
	font-family:'Permanent Marker';
	font-size:108px;
	text-align:center;
	color:#1e9ddc;
	border-style:solid;
	border-width:3px;
	border-color:#de4e2a;
	border-radius:0px 0px 25px 25px;
	background-color:white;
}
div#Beau{
	position:relative;
	width:70%;
	margin-left:auto;
	margin-right:auto;
}
.container{
	padding:7px;
	border-style:solid;
	border-width:1px;
	width:390px;
	height:435px;
	position:relative;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	background-color:white;
}
.evencontainer{
		border-color:#1e9ddc;
}
.oddcontainer{
		border-color:#de4e2a;
}
.content{
	padding:5px;
	border-style:solid;
	border-width:1px;
	width:378px;
	height:378px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
.evencontent{
	border-color:#de4e2a;
}
.oddcontent{
	border-color:#1e9ddc;
}
.pic{
	/*display:block;*/
	margin-left:auto;
	margin-right:auto;
	height: 378px;
}
.header{
	height:45px;
	font-family:'Cherry Cream Soda';
	text-align:center;
	font-size:30px;
}
.evenheader{
	color:#de4e2a;
}
.oddheader{
	color:#1e9ddc;
}
div#tictactoe{
}
div#winner{
	height:80px;
	text-align:center;
	font-family:'Permanent Marker';
	font-size:50px;
	color:#1e9ddc;
	position:relative;

}
table#ttt{
	border-collapse:collapse;
	text-align:center;
	font-family:'Permanent Marker';
	color:#1e9ddc;
	font-size:50px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	background-color:transparent;
}
tr#ttttop, #tttmiddle{
	border-bottom-style:solid;
	border-bottom-width:5px;
	border-bottom-color:#de4e2a;
}
.tttleft, .tttcenter{
	border-right-style:solid;
	border-right-width:5px;
	border-right-color:#de4e2a;
}
.game{
	width:75px;
	height:75px;
}
div#mine-alert{
	height:70px;
	text-align:center;
	font-family:'Permanent Marker';
	font-size:50px;
	color:#1e9ddc;
	position:relative;

}
#gameBoardTable {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.mine-cell{
	font-family:'Work Sans';
	color:#de4e2a;
	width:25px;
	height:25px;
	border-style:solid;
	border-width:1px;
	user-select: none;
	-webkit-user-select: none;
	text-align:center;
	cursor:default;
	border-color: #de4e2a;
}
img#current-book{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:100%;
}
button#reset{
	font-family:'Cherry Cream Soda';
	color:#de4e2a;
	font-size:12px;
	line-height:20px;
	background-color:white;
	border-width:0px;
	height:30px;
	width:100px;
	position:absolute;
	right:25px;
	bottom:25px;
	cursor: pointer;

}
#reset:focus{
	outline:none;
}

.mine-button{
	font-family:'Work Sans';
	color:#de4e2a;
	font-size:16px;
	line-height:20px;
	background-color:white;
	border-width:0px;
	height:30px;
	width:110px;
	cursor: pointer;
}
button:focus {outline:0;}
.mine-button-container {
	text-align: center;
}
#flagged {
	font-family:'Work Sans';
	color:#de4e2a;
	font-size:14px;
	line-height:20px;
	position:absolute;
	right:50px;
	bottom:5px;
}
